@import "../utils/variables";
@import "../utils/mixins";



/* Background Image */
#menu-restaurant-1 {
    background-image: url(./../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include background-image
}

#menu-restaurant-2 {
    background-image: url(./../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include background-image;
    background-size: cover;
}

#menu-restaurant-3 {
    background-image: url(./../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include background-image
}

#menu-restaurant-4 {
    background-image: url(./../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include background-image
}


/* Menu */

.menu {
    @include background-light;
    border-radius: 50px 50px 0 0;
    padding: $padding-full;

    @media (min-width:1250px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;

        :nth-child(1) {
            grid-area: 1 / 1 / 2 / 4;
        }

        :nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
        }

        :nth-child(3) {
            grid-area: 2 / 2 / 3 / 3;
        }

        :nth-child(4) {
            grid-area: 2 / 3 / 3 / 4;
        }

        :nth-child(5) {
            grid-area: 3 / 2 / 4 / 3;
        }
    }  



    h1 {
        font-style: italic;
        font-weight: 900;
        font-size: 1.5em;
    }


    h2 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: medium;

        /* Menu - Underline */
        &::after {
            content: "";
            display: block;
            width: 40px;
            position: absolute;
            padding-top: 3px;
            border-bottom: 3px solid $tertiary-color;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

            i {
            padding-right: 15px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
    
            button {
                display: flex;
                justify-content: center;
                width: 50%;
                margin-top: 10px;
                margin-bottom: 30px;
                border: none;
                @include button (25px, white, 2.5em, $secondary-color, $primary-color);
                transition: box-shadow 1s, color 1s;
  
    
                &:hover {
                    @include main-button--hover;
                }
    
            }
    
    }

}

    /* Menu - Cards*/
.card {
    display: flex;
    overflow: hidden;
    border-radius: 25px;
    background-color: white;
    max-width: 100%;
    cursor: pointer;
    margin-bottom: 3%;


    &:hover {
        .card__overlay {
            margin-right: 0;    
            
            &--ordered {
                animation: rotate 250ms 250ms linear;
            }
        }
    }
}
    

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }



    /* Menu - Card content */
    .card__text {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;
    
        &--title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &--description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card__price {
        display: flex;
        align-items: flex-end;
        margin: 16px 0;
        padding: 0.5rem ;
    }

    /* Menu - Overlay */

.card__overlay {
    background-color: $tertiary-color;
    border-radius: 0 25px 25px 0;
    color: white;
    margin-right: -20%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-right 500ms; 


    &--ordered {
        color: white;
        font-size: 1.5em;
        }

}








/*Animation - fadein menu */
.menu__starter, .menu__main-course, .menu__dessert {

    :nth-child(2) {
        animation: fadein 750ms ease-in-out backwards;
    }

    :nth-child(3) {
        animation: fadein 750ms 750ms ease-in-out backwards;
    }

    :nth-child(4) {        
        animation: fadein 750ms 1500ms ease-in-out backwards;
    }

    

   
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}