@import "../utils/variables";


.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        position: absolute;
        left: 1em;
    }

    img {
        padding: 3%;
        width: 45%;
        height: auto;
    }
}

